<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3 mb-5">
        <div class="col-7 offset-2">
            <br> <br>
        <h3 style="color: red;">You can Update Here !!</h3> 
        <form method="post" action="/arbnb/<%= arbnbs.id%>?_method=PUT" class="was-validated ">
           <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input value="<%=arbnbs.title %>" 
            id="title" 
            name="arbnb[title]" 
            type="text"
            class="form-control"
            required
            />
            <div class="invalid-feedback">Title should be valid</div>
          </div>
          
          <div class="mb-3">
            <label class="form-label" for="Image">Image</label>
            <input 
            name="arbnb[image]" 
            type="text"
            class="form-control"
            value="<%=arbnbs.image%>"
            required
            />
            
          </div>
          <div class="mb-3">
            <label class="form-label" for="description" 
            type="text">Description</label>
            <textarea  
          name="arbnb[description]" 
           
            class="form-control"
            id="description"
            required><%=arbnbs.description 
            
            %></textarea>
          </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label class="form-label" for="price">price</label>
            <input value="<%=arbnbs.price %>" 
            name="arbnb[price]" 
            type="number"
            class="form-control"
            id="price"
            required
            /> 
            <div class="invalid-feedback">price should be valid</div>
          </div>

          <div class="mb-3 col-md-8">
            <label class="form-label" for="country">country</label>
            <input placeholder="Enter country" 
            name="arbnb[country]" 
            type="text" 
            value="<%=arbnbs.country%>"
            class="form-control"
            id="country"
            required
            />
            <div class="invalid-feedback">country should be valid</div>
         </div>
        </div>
              <div class="mb-3 ">
                <label class="form-label" for="location">Location</label>
                <input value="<%=arbnbs.location %>"
                 name="arbnb[location]" 
                 type="text"
                 id="location"
                 class="form-control"
                 required
                 />
                 <div class="invalid-feedback">Location should be valid</div>
              </div>

            <button class="btn btn-danger add-btn  offset-3 col-5  ">Add</button>
        
            <br>
            <br>
        </form>
        </div> 
  </div>
    </body>
    
    
    